* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  background-color: #fff;
  height: 100vh;
}

.wrapper {
  margin-top: 50px;
}

.ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
